src/*.o
*.m4
/auto*
src/build
src/.deps
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
Makefile
Makefile.in
missing
stamp-h1
src/Makefile
src/Makefile.in
src/mtraceroute
